body {
  background-color: #121212; 
  color: #E0E0E0; 
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
}

button, select {
  background-color: #0D47A1; 
  color: #fff;
  border: none;
  padding: 10px 15px;
  margin: 5px 0;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  transition: background-color 0.3s;
}

button:hover, select:hover {
  background-color: #0D47A1; 
}

#transcribed-text-box, #translated-text-box {
  background-color: #1E1E1E; 
  border: 1px solid #333;
  color: #E0E0E0; 
  padding: 15px;
  min-height: 100px;
  overflow-y: auto;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-family: 'Courier New', monospace;
}

option {
  background-color: #121212; 
  color: #E0E0E0; 
}

