body {
  background-color: black;
  color: lime;
  font-family: 'Courier New', monospace;
}

button, select {
  background-color: #1b1b1b;
  color: #E0E0E0;  
  border: 1px solid #0f0;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 5px;
  font-family: 'Courier New', monospace;
}

div {
  margin: 10px 0;
}

#transcribed-text-box, #translated-text-box {
  background-color: #222;
  border: 1px solid #0f0;
  color: #E0E0E0;  /* Light grey, white-ish color */
  padding: 10px;
  min-height: 100px;
  overflow-y: auto;
}

